# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\ads_pooi_forumii\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
